@inherits LayoutComponentBase
@inject ConductorService ConductorService

<MudThemeProvider Theme="_theme"/>
<MudDialogProvider />
<MudSnackbarProvider />

@if (_ready)
{
    <main>
        @Body
    </main>
}

@code
{
    private MudTheme _theme = new();

    public MainLayout()
    {
        _theme.Palette.Primary = new MudBlazor.Utilities.MudColor(42, 81, 173, (int)byte.MaxValue);
    }
}